@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout2";
}


<div class="container-fluid">
        <div class="row">
            <div class="col-2" ><i class="fa-solid fa-chevron-left h3 mt-3 me-2"></i></div>
            <div class="col-10"><p class="text-center mt-3 fw-bold mb-5">Crear Solicitud</p></div>               
        </div>
</div>